$primary: #7549d4;
$secondary : lighten($primary, 20%);
$warning: #E68A0A;
$info: lighten($warning, 30%);
$dark: #261624;
$light: #F3E9F1;

$body-color: $dark;
$dropdown-divider-bg: $secondary;
$dropdown-link-hover-bg: $light;

body {
    // pour fixer le footer en bas de l'écran (mt-auto) si le contenu de la page ne remplit pas l'écran
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(../images/orinoco-bg.webp);
    background-repeat: no-repeat;
    background-position: center 55px;
    background-size: auto 100%;
}

// Header
#orinoco {
    // pour gérer la taille max. du logo sur grand écran
    max-width: 200px;
}
#inputRecherche {
    // pour supprimer le border-radius de gauche de la barre de recherche
    border-radius: 0 3px 3px 0;
    width: 100%;
    flex: auto;
}
#dropdownBarButton {
    // bouton dropdown avec le design d'un navbar
    display: flex;
    flex-direction: column;
    width: 20px;
    &>span {
        margin: 3px auto;
        width: 100%;
        border-top: solid 2px;
    }
}
#boutonLinks::after {
    // pour enlever la flèche dropdown et ne laisser que les barres
    display: none;
}
.perso-btn-warn-style {
    &:hover {
        background-color: $warning !important;
        color: $dark !important;
        &:focus {
            box-shadow: 0 0 0 0.2rem $info !important;
        }
    }
}

// background
// .bg-fixed {
//     min-height: 100vh;
//     background: url(../images/orinoco-bg.webp);
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: auto 100%;
// }

// Hero
#heroLogo {
    border: $warning solid 3px;
    border-radius: 10px;
}

// cards
.presProduct {
    position: relative;
    bottom: 15px;
    width: fit-content;
}
.imgProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: url(../images/panier.png) center no-repeat;
}
.card-body {
    position: relative;
    bottom: 40px;
    width: 90%;
    height: 80px;
    margin: auto;
}

// Footer
body>footer a:hover {
    // gestion du hover des liens en bas de page
    background-color: $secondary
}

// Bouton haut de page
#pageUp {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 30px;
}