$primary: #8F5BFE;
$secondary : lighten($primary, 20%);
$warning: #E68B07;
$info: lighten($warning, 50%);
$dark: #261624;
$light: #F3E9F1;

$body-color: $dark;
$dropdown-divider-bg: $secondary;
$dropdown-link-hover-bg: $light;

#orinoco {
    // pour gérer la taille max. du logo sur grand écran
    max-width: 200px;
}
#inputRecherche {
    // pour supprimer le border-radius de gauche de la barre de recherche
    border-radius: 0 3px 3px 0;
    width: 100%;
    flex: auto;
}
#dropdownBarButton {
    // bouton dropdown avec le design d'un navbar
    display: flex;
    flex-direction: column;
    width: 20px;
    &>span {
        margin: 3px auto;
        width: 100%;
        border-top: solid 1px;
        border-bottom: solid 1px;
    }
}
#boutonLinks::after {
    // pour enlever la flèche dropdown et ne laisser que les barres
    display: none;
}
#boutonConnexion:hover {
    // le hover était mal géré : conflit entre .btn-outline-primary et dropdown-toggle
    background-color: darken($primary, 10%);
}
#boutonConnexion::before {
    // pour enlever la flèche dropdown
    display: none;
}
#menuConnexion {
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 0 0.5rem 0;
    width: min-content;
    height: min-content;
    max-height: 80vh;
    & .form-group {
        margin-bottom: 1rem;
    }
}
